extends template.pug

block content 
  container
    main
      p(class="title") Publications
      a(href="/nyt" class="block")
        i(class="fas fa-newspaper inline-block margin-right")
        p(class="inline-block") New York Times
